* {
  box-sizing: border-box;
}

body {
  padding: 25px;
}

main {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  border: 5px solid red;
}

.quiz-phase {
  display: none;
  margin-left: auto;
  margin-right: auto;
}

.toggle__active {
  display: block;
}

.col-1 {
  display: flex;
  flex-direction: column;
  max-width: 450px;
  border: 3px solid green;
}

.quiz-progress-indicator {
  border: 2px solid gold;
}

.btn-begin-quiz {
  align-self: center;
  margin-top: 20px;
  border: 3px solid purple;
}

button {
    padding: 20px;
    border: none;
    background-color: #A44B4B;
    color: #ffffff;
    font-size: 18px;
    border-radius: 8px;
    cursor: pointer;
}

.col-2 {
  display: flex;
  flex-direction: column;
  max-width: 450px;
  border: 3px solid magenta;
  text-align: center;
}

.quiz-current-score {
  border: 2px solid black;
}

.current-image {
  padding: 15px;
  height: 405px;
  width: 225px; 
  object-fit: contain;
  border: 3px solid pink;
}

.btn-submit-answer {
  margin-top: 15px;
  margin-left: 15px;
}

legend {
    background-color: #000;
    color: #fff;
    padding: 3px 6px;
    border-radius: 4px;
}

.get-user-answer input[type="radio"],
.get-user-answer input[type="radio"]+label  {
  display: inline-block;   
  width: auto;
  margin-top: .35rem;
}

.answer-feedback {
  margin-top: 15px;
  border: 2px solid black;
  width: 40%;
}

