* {
  box-sizing: border-box;
}

body {
  padding: 25px;
}

main {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  /* border: 5px solid red; */
}

/*
.narrow {
  border: 5px solid gray;  
  width: 320px;
}
*/

h2 {
  font-size: 14px;
  font-family: 'Orbitron', sans-serif;
  color: rgb(220, 231, 68);
  
}

.quiz-phase {
  display: none;
  margin-left: auto;
  margin-right: auto;
}

.advance-to-next {
  display: none;
}

.col-1 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 450px;
  /* border: 3px solid green; */
}

.quiz-progress-indicator {
  border: 2px solid gold;
}

button {
    padding: 15px;
    border: none;
    background-color: #A44B4B;
    color: #ffffff;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.col-2 {
  display: none;
}

.quiz-current-score {
  border: 2px solid black;
}

.current-image {
  padding: 15px;
  height: 405px;
  width: 225px; 
  object-fit: contain;
  /* border: 3px solid pink; */
}

.btn-submit-answer {
   display: none;
}

legend {
    background-color: #000;
    color: #fff;
    padding: 3px 6px;
    border-radius: 4px;
}

.get-user-answer input[type="radio"],
.get-user-answer input[type="radio"]+label  {
  display: inline-block;   
  width: auto;
  margin-top: .35rem;
}

.answer-feedback {
  margin-top: 15px;
  border: 1px solid black;
  }

.answer-feedback.incorrect {
  background-color: red;
}

.answer-feedback.correct {
  background-color: green;
}

.toggle__active {
  display: block;
}

/*
For any screen larger than 320px
*/
@media screen and (min-width: 320px) {

  h2 {
    font-size: 22px;
    font-family: 'Orbitron', sans-serif;
  }

  .lower-score-display {
    display: none;
  }

  .col-2 {
    display: flex;
    flex-direction: column;
    max-width: 450px;
    text-align: center;
  }
}